:root {
    --main-yellow:#E6C744;
    --main-bg:#FFFFFF;
    --main-balck:#000000;
    --main-gary:#C2C8DA;
    --main-light-gray:#F4F6F5;
    --main-dark-gray:#7F7F7F;
    --main-link:#434343;
    --main-footer-gray:#8E8E8E;
    --main-yellow-grdnt:linear-gradient(0deg, #e0c340 0%, rgba(249, 223, 86, 1) 100%);
}

.nre-yellow{
    background-color: var(--main-yellow);
}
.nre-white{
    background-color: var(--main-bg);
}
.nre-black{
    background-color: var(--main-balck);
}
.nre-gray{
    background-color: var(--main-gary);
}
.nre-light-gray{
    background-color: var(--main-light-gray);
}
.nre-dark-gray{
    background-color: var(--main-dark-gray);
}
.nre-footer-gray{
    background-color: var(--main-footer-gray);
}
.nre-text-yellow{
    color: var(--main-yellow);   
}
.nre-text-white{
    color: var(--main-bg);   
}
.nre-text-black{
    color: var(--main-balck);   
}
.nre-text-gray{
    color: var(--main-gary);   
}
.nre-text-light-gray{
    color: var(--main-light-gray);   
}
.nre-text-footer-gray{
    color: var(--main-footer-gray);   
}
.nre-text-dark-gray{
    color: var(--main-dark-gray);   
}
.nre-ylw-grdnt{
    background: var(--main-yellow-grdnt);
}
.nre-text-ylw-grdnt{
    color: var(--main-yellow-grdnt);
}




*{
    font-family: 'Poppins', sans-serif;
}

.primary-bg{
    background-color:#ffffffda;
}
.body-bg{
    background-color: var(--my-secondary);
}
.navbar-brand{
    color: var(--main-balck);
}
.nav-item>a{
    transition: transform 0.22s ease-in-out;
}
.nav-item>a:hover{
    color: var(--main-balck);
    transform: translateY(-3px);
    font-weight: 600;
}
.navbar-nav .nav-link.show {
    color: var(--my-text);
}
.dropdown-toggle{
    color: var(--main-dark-gray);
}
.nav-link:focus, .nav-link:hover {
  color: var(--main-dark-gray); 
}
.dropdown-menu{
    background-color:var(--main-gary);
    border: 0;
    box-shadow: gray 5px 5px 15px;
}
.dropdown-item {
    color: var(--main-link);
}

/* font */
.poppins-regular{
    font-weight: 400; 
}

.poppins-medium{
    font-weight: 500; 
}

.poppins-black{
    font-weight: 900;
}
.nre-brand{
    font-size: 40px;
}

.nre-link{
    text-decoration: none;
}
.nre-link:hover{
    color: var(--main-link);
}
.dropdown-item:hover{
    background-color: transparent;
    color: var(--main-balck);
    font-weight: 600;
}
.dropdown-toggle::after{
    content:none;
}

.bg-sign-p{
    background: url("./image/other/bg-overlay.png");
}
.sign-logo{
    width: 70px;
}
.input-group-text{
    background-color: transparent;
}
.form-control:focus{
    box-shadow: none;
    color: var(--main-balck);
    font-weight: 450;
    background-color: transparent;
}
.btn-dark:hover{
    border: var(--main-balck) 1px solid;
    background-color: #ededed;
    color: #000000;
    box-shadow: inset 4px -4px 5px rgba(0, 0, 0, 0.3);
    font-weight: 500;
}
.otp-in::placeholder{
    font-size: 50px;
    color: #d6d6d6;
}
.btn-div{
    transition: all 0.3s ease-in;
}
.btn-div:hover{
    box-shadow: gray 5px 5px 15px;
}
.size-chart-font{
    font-size: small;
    height: 20px;
}
.btn-atc{
    transition: all 0.3s ease-in;
    box-shadow: gray 1px 1px 3px;
}
.btn-atc:hover{
    background: var(--main-yellow-grdnt);
    box-shadow: gray 2px 2px 10px;
    border: 0;
}
.btn-gray:hover{
    background-color:#b6bbcc;
    font-weight: 600;
}
