{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="shortcut icon" href="{% static 'image/logos/nre-logo.png' %}"
            type="image/x-icon">
        <!-- bs-js -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
            <!-- ------------ -->
         
        <!-- bs-css -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous">
            <!-- ------------ -->
         
        <!-- fa-css -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
            integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- ------------ -->

        <!-- gfonts -->
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Inter&family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- ------------ -->
          <!-- custom css js -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- ------------ -->
         
    </head>
<body class="vh-100 bg-sign-p">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center mx-2">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 nre-white p-4 rounded-5 text-center shadow">
            <img class="sign-logo mb-4" src="{% static 'image/logos/nre-logo.png' %}" alt="">
            <h3 class="poppins-medium nre-text-black text-center mb-5">Create Account</h3>
            <form class="mt-5" action="{% url 'register' %}" method="get">
                <div class="input-group mb-3 rounded-5 border border-black overflow-hidden">
                    <span class="input-group-text bg-white border-0 ps-4">
                    <i class="fa-solid fa-user"></i>
                    </span>
                    <input type="text" class="form-control border-0 py-3" name="username" placeholder="Enter your Username" value="email@email">
                </div>
				<div class="input-group mb-3 rounded-5 border border-black overflow-hidden">
                    <span class="input-group-text bg-white border-0 ps-4">
                    <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="text" class="form-control border-0 py-3" name="password" placeholder="Enter your Password">
                </div>
				<div class="input-group mb-3 rounded-5 border border-black overflow-hidden">
                    <span class="input-group-text bg-white border-0 ps-4">
                    <i class="fa-solid fa-key"></i>
                    </span>
                    <input type="text" class="form-control border-0 py-3" name="password2" placeholder="Confirm Password">
                </div>
                
                <button class="btn btn-dark mt-1 p-5 py-3 rounded-5 w-100" type="submit">Create Account</button>
            </form>
        </div>
    </div>
  </div>
</body>

</html>
